at the end of lecture there are plots functions in pandas repeat that

In [1]:
import pandas as pd

In [4]:
d=pd.DataFrame({'future':['bindhu got into kaist and began her adventure in south korea and she is making the most of her time']})
d

                                              future
0  bindhu got into kaist and began her adventure ...

In [5]:
#inorder to view the entire text 
pd.set_option('display.max_colwidth',1000)

In [6]:
d

                                                                                                future
0  bindhu got into kaist and began her adventure in south korea and she is making the most of her time

In [9]:
d['char len']=d['future'].apply(len)
d

,future,char len
0,bindhu got into kaist and began her adventure in south korea and she is making the most of her time,99

In [11]:
a='bindhu got into kaist'
len(a.split())

4

In [13]:
d['word count']=d['future'].apply(lambda x: len(x.split()))
d

,future,char len,word count
0,bindhu got into kaist and began her adventure in south korea and she is making the most of her time,99,20

In [15]:
data={'text':['Bindhu got into KAIST','PROF accepted her','she went to SOUTHKOREA']}
dd=pd.DataFrame(data)
dd

                     text
0   Bindhu got into KAIST
1       PROF accepted her
2  she went to SOUTHKOREA

In [18]:
#to convert the strings in lower characters
dd['lower strngs']=dd['text'].str.lower()
dd

                     text            lower strngs
0   Bindhu got into KAIST   bindhu got into kaist
1       PROF accepted her       prof accepted her
2  she went to SOUTHKOREA  she went to southkorea

In [21]:
dd['text'][0].startswith('B')

True

In [31]:
df1= pd.DataFrame({'a':[1,2,3,4,5],
                  'b':[2,4,6,7,8]})
df1

   a  b
0  1  2
1  2  4
2  3  6
3  4  7
4  5  8

In [32]:
# if we wanna multiply every element of a with 5
df1['mul_a']=df1['a']*5
df1

   a  b  mul_a
0  1  2      5
1  2  4     10
2  3  6     15
3  4  7     20
4  5  8     25

In [33]:
df1.rolling(window=2).mean()

     a    b  mul_a
0  NaN  NaN    NaN
1  1.5  3.0    7.5
2  2.5  5.0   12.5
3  3.5  6.5   17.5
4  4.5  7.5   22.5

In [35]:
#to convert all the values into integers
df1.astype(int)

   a  b  mul_a
0  1  2      5
1  2  4     10
2  3  6     15
3  4  7     20
4  5  8     25

In [36]:
df1.a.cumsum()

0     1
1     3
2     6
3    10
4    15
Name: a, dtype: int64

If there is a date column in the data frame then we call that data frame as "time series data"

In [38]:
data=pd.DataFrame({'date':['2025-05-28','2025-05-29','2025-05-30','2025-05-31']})
data

         date
0  2025-05-28
1  2025-05-29
2  2025-05-30
3  2025-05-31

In [39]:
data.dtypes

date    object
dtype: object

In [42]:
#the date is taken as string so to convert it into date 
data['updated_date']=pd.to_datetime(data['date'])
data

         date updated_date
0  2025-05-28   2025-05-28
1  2025-05-29   2025-05-29
2  2025-05-30   2025-05-30
3  2025-05-31   2025-05-31

In [43]:
data.dtypes

date                    object
updated_date    datetime64[ns]
dtype: object

In [48]:
data['year']=data['updated_date'].dt.year

In [49]:
data['day']=data['updated_date'].dt.day

In [50]:
data['month']=data['updated_date'].dt.month

In [51]:
data

         date updated_date  year  day  month
0  2025-05-28   2025-05-28  2025   28      5
1  2025-05-29   2025-05-29  2025   29      5
2  2025-05-30   2025-05-30  2025   30      5
3  2025-05-31   2025-05-31  2025   31      5

In [52]:
pd.date_range(start='2025-09-16',end='2025-12-12',freq='D')#to generate the day

DatetimeIndex(['2025-09-16', '2025-09-17', '2025-09-18', '2025-09-19',
               '2025-09-20', '2025-09-21', '2025-09-22', '2025-09-23',
               '2025-09-24', '2025-09-25', '2025-09-26', '2025-09-27',
               '2025-09-28', '2025-09-29', '2025-09-30', '2025-10-01',
               '2025-10-02', '2025-10-03', '2025-10-04', '2025-10-05',
               '2025-10-06', '2025-10-07', '2025-10-08', '2025-10-09',
               '2025-10-10', '2025-10-11', '2025-10-12', '2025-10-13',
               '2025-10-14', '2025-10-15', '2025-10-16', '2025-10-17',
               '2025-10-18', '2025-10-19', '2025-10-20', '2025-10-21',
               '2025-10-22', '2025-10-23', '2025-10-24', '2025-10-25',
               '2025-10-26', '2025-10-27', '2025-10-28', '2025-10-29',
               '2025-10-30', '2025-10-31', '2025-11-01', '2025-11-02',
               '2025-11-03', '2025-11-04', '2025-11-05', '2025-11-06',
               '2025-11-07', '2025-11-08', '2025-11-09', '2025-11-10',
               '2025-11-11', '2025-11-12', '2025-11-13', '2025-11-14',
               '2025-11-15', '2025-11-16', '2025-11-17', '2025-11-18',
               '2025-11-19', '2025-11-20', '2025-11-21', '2025-11-22',
               '2025-11-23', '2025-11-24', '2025-11-25', '2025-11-26',
               '2025-11-27', '2025-11-28', '2025-11-29', '2025-11-30',
               '2025-12-01', '2025-12-02', '2025-12-03', '2025-12-04',
               '2025-12-05', '2025-12-06', '2025-12-07', '2025-12-08',
               '2025-12-09', '2025-12-10', '2025-12-11', '2025-12-12'],
              dtype='datetime64[ns]', freq='D')

In [54]:
# we can also get the date _range hourly based 
pd.date_range(start='2025-09-16',end='2025-12-12',freq='h')

DatetimeIndex(['2025-09-16 00:00:00', '2025-09-16 01:00:00',
               '2025-09-16 02:00:00', '2025-09-16 03:00:00',
               '2025-09-16 04:00:00', '2025-09-16 05:00:00',
               '2025-09-16 06:00:00', '2025-09-16 07:00:00',
               '2025-09-16 08:00:00', '2025-09-16 09:00:00',
               ...
               '2025-12-11 15:00:00', '2025-12-11 16:00:00',
               '2025-12-11 17:00:00', '2025-12-11 18:00:00',
               '2025-12-11 19:00:00', '2025-12-11 20:00:00',
               '2025-12-11 21:00:00', '2025-12-11 22:00:00',
               '2025-12-11 23:00:00', '2025-12-12 00:00:00'],
              dtype='datetime64[ns]', length=2089, freq='h')

In [56]:
#to know the current time
pd.Timestamp.now()

Timestamp('2025-09-16 12:59:39.711978')

In [58]:
#to check the execution time of the code/program
start=pd.Timestamp.now()
for i in range(1000):
    pass
end=pd.Timestamp.now()
print('the execution time of the program is ',end-start)

the execution time of the program is  0 days 00:00:00.000237

In [59]:
#another way to get the execution time of the program ... it gives the answer in seconds
import time as t
start=t.time()
for i in range (1000):
    pass
end=t.time()
print('the execution time of the program is ',end-start)

the execution time of the program is  0.00017976760864257812

In [61]:
#another way >>>>> prefer this ....industry standards
start=t.perf_counter()
for i in range (1000):
    pass
end=t.perf_counter()
print('the execution time of the program is ',end-start)

the execution time of the program is  0.00012229988351464272

In [63]:
#to know the date and time a week before from now exactly
pd.Timestamp.now()-pd.DateOffset(weeks=1)

Timestamp('2025-09-09 13:07:57.857248')

In [64]:
from datetime import datetime

In [66]:
dat='2025-12-12'
datetime.strptime(dat,'%Y-%m-%d')

datetime.datetime(2025, 12, 12, 0, 0)

In [67]:
pd.Timedelta(days=1,hours=6,minutes=53)

Timedelta('1 days 06:53:00')

In [68]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.65-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\bindhu_alia\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (2.3.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\bindhu_alia\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (2.3.0)
Requirement already satisfied: requests>=2.31 in c:\users\bindhu_alia\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (2.32.4)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.12.tar.gz (19 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\bindhu_alia\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in c:\users\bindhu_alia\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (2025.2)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.6-py313-none-any.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.18.2.tar.gz (949 kB)
     ---------------------------------------- 0.0/949.2 kB ? eta -:--:--
     ------------------------------- ------ 786.4/949.2 kB 6.6 MB/s eta 0:00:01
     -------------------------------------- 949.2/949.2 kB 4.9 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\bindhu_alia\appdata\local\programs\python\python313\lib\site-packages (from yfinance) (4.13.4)
Collecting curl_cffi>=0.7 (from yfinance)
  Downloading curl_cffi-0.13.0-cp39-abi3-win_amd64.whl.metadata (13 kB)
Collecting protobuf>=3.19.0 (from yfinance)
  Downloading protobuf-6.32.1-cp310-abi3-win_amd64.whl.metadata (593 bytes)
Collecting websockets>=13.0 (from yfinance)
  Downloading websockets-15.0.1-cp313-cp313-win_amd64.whl.metadata (7.0 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\bindhu_alia\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\bindhu_alia\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.14.1)
Requirement already satisfied: cffi>=1.12.0 in c:\users\bindhu_alia\appdata\local\programs\python\python313\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\bindhu_alia\appdata\local\programs\python\python313\lib\site-packages (from curl_cffi>=0.7->yfinance) (2025.8.3)
Requirement already satisfied: pycparser in c:\users\bindhu_alia\appdata\local\programs\python\python313\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.22)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bindhu_alia\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bindhu_alia\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\bindhu_alia\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\bindhu_alia\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.31->yfinance) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\bindhu_alia\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\bindhu_alia\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.31->yfinance) (2.5.0)
Downloading yfinance-0.2.65-py2.py3-none-any.whl (119 kB)
Downloading curl_cffi-0.13.0-cp39-abi3-win_amd64.whl (1.6 MB)
   ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
   ------------------- -------------------- 0.8/1.6 MB 7.6 MB/s eta 0:00:01
   ---------------------------------------- 1.6/1.6 MB 5.2 MB/s eta 0:00:00
Downloading frozendict-2.4.6-py313-none-any.whl (16 kB)
Downloading protobuf-6.32.1-cp310-abi3-win_amd64.whl (435 kB)
Downloading websockets-15.0.1-cp313-cp313-win_amd64.whl (176 kB)
Building wheels for collected packages: multitasking, peewee
  Building wheel for multitasking (pyproject.toml): started
  Building wheel for multitasking (pyproject.toml): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.12-py3-none-any.whl size=15703 sha256=28520c6b44937447a609476c7801a36e349cf28ef26dc68e9d143632d16dcd78
  Stored in directory: c:\users\bindhu_alia\appdata\local\pip\cache\wheels\1e\df\0f\e2bbb22d689b30c681feb5410ab64a2523437b34c8ecfc6476
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.18.2-py3-none-any.whl size=139153 sha256=a8edde656fd62a0754bd1430774eca06ac8a27cd4d4ae34c764a8c41051aee25
  Stored in directory: c:\users\bindhu_alia\appdata\local\pip\cache\wheels\1c\48\cc\00b7d0e7defa21a58915654917c89eaedd32a6e614d8e4ad92
Successfully built multitasking peewee
Installing collected packages: peewee, multitasking, websockets, protobuf, frozendict, curl_cffi, yfinance

   ---------------------------------------- 0/7 [peewee]
   ----------- ---------------------------- 2/7 [websockets]
   ----------- ---------------------------- 2/7 [websockets]
   ----------------- ---------------------- 3/7 [protobuf]
   ----------------- ---------------------- 3/7 [protobuf]
   ---------------------------- ----------- 5/7 [curl_cffi]
   ---------------------------------- ----- 6/7 [yfinance]
   ---------------------------------- ----- 6/7 [yfinance]
   ---------------------------------------- 7/7 [yfinance]

Successfully installed curl_cffi-0.13.0 frozendict-2.4.6 multitasking-0.0.12 peewee-3.18.2 protobuf-6.32.1 websockets-15.0.1 yfinance-0.2.65
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [69]:
import yfinance as yf

In [72]:
data=yf.download('GOOG',start='2025-3-4',end='2025-5-7')

C:\Users\Bindhu_alia\AppData\Local\Temp\ipykernel_35000\3854904858.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data=yf.download('GOOG',start='2025-3-4',end='2025-5-7')
[*********************100%***********************]  1 of 1 completed

In [73]:
data

Price            Close        High         Low        Open    Volume
Ticker            GOOG        GOOG        GOOG        GOOG      GOOG
Date
2025-03-04  172.052811  174.599556  166.999169  167.397887  30711400
2025-03-05  174.425125  175.182666  170.378218  171.763746  18848000
2025-03-06  173.647644  176.159498  171.951127  171.992999  19082400
2025-03-07  175.182678  176.328960  171.693976  172.682778  16395300
2025-03-10  167.458862  170.093338  165.218565  169.803951  28990700
2025-03-11  165.632675  168.302081  162.898418  166.331207  23705900
2025-03-12  168.646378  169.175267  165.133739  168.117488  19880100
2025-03-13  164.385300  167.768206  163.726692  167.628499  15206200
2025-03-14  167.269241  167.897928  164.165749  164.969072  18611100
2025-03-17  166.221466  168.107511  165.463047  166.974876  17839100
2025-03-18  162.329620  166.091736  158.467723  165.612745  24616800
2025-03-19  165.932068  167.781187  162.708831  163.572011  24955700
2025-03-20  164.704651  166.680504  162.798644  163.482208  19981500
2025-03-21  165.902115  166.121656  162.688852  163.038125  29882100
2025-03-24  169.574417  170.143232  167.089637  168.910815  18742800
2025-03-25  172.428436  172.548196  170.193133  170.821805  13841600
2025-03-26  166.790253  171.580212  166.511830  170.941551  22498000
2025-03-27  163.736664  167.089634  163.507149  166.361165  21571200
2025-03-28  155.733444  163.467227  155.013960  162.020265  34866500
2025-03-31  155.903091  156.801217  151.891514  154.486065  33591600
2025-04-01  158.547562  159.745048  154.930147  154.975051  20111400
2025-04-02  158.527588  159.939620  156.202462  156.631570  17113300
2025-04-03  152.310638  154.363326  151.861568  152.515211  28416100
2025-04-04  147.430862  152.769659  147.231269  149.586331  39832200
2025-04-07  148.927719  154.605800  142.361486  143.089954  47823000
2025-04-08  146.273285  154.116839  144.906156  153.253643  35304400
2025-04-09  160.722977  161.531279  145.504888  146.023804  46479500
2025-04-10  155.044876  159.695128  151.881511  158.427782  35270500
2025-04-11  159.066452  159.525496  155.259448  155.259448  22582000
2025-04-14  161.132126  163.686767  159.585366  161.970365  18255900
2025-04-15  158.347961  161.710920  157.315139  161.231929  15690800
2025-04-16  155.174622  157.849006  153.587952  155.144686  16921500
2025-04-17  153.039093  156.741336  150.584234  156.282292  19513400
2025-04-21  149.546432  150.743919  148.089481  150.649116  16147800
2025-04-22  153.577957  154.286478  150.554299  150.753892  15910300
2025-04-23  157.389984  159.685175  156.022856  157.579589  18575700
2025-04-24  161.132126  161.371629  157.759194  158.193281  30787500
2025-04-25  163.507156  167.887970  162.658929  166.750356  35148100
2025-04-28  162.080139  164.604844  160.044414  163.916285  20871200
2025-04-29  161.720901  162.339599  159.056490  161.705933  15955200
2025-04-30  160.553345  161.036326  156.826159  159.525501  20639500
2025-05-01  162.449356  163.596959  160.593248  162.179932  21904300
2025-05-02  165.463043  166.351180  163.317548  164.609837  16844900
2025-05-05  165.702545  166.750351  164.125849  164.170753  15309300
2025-05-06  164.854324  166.391110  162.788664  163.616929  10691900

In [74]:
data['Close'].resample('D').mean()

Ticker            GOOG
Date
2025-03-04  172.052811
2025-03-05  174.425125
2025-03-06  173.647644
2025-03-07  175.182678
2025-03-08         NaN
...                ...
2025-05-02  165.463043
2025-05-03         NaN
2025-05-04         NaN
2025-05-05  165.702545
2025-05-06  164.854324

[64 rows x 1 columns]

In [75]:
#plotting functions in pandas
d=pd.Series([1,2,3,4,5,6])
d

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [77]:
#d.plot()