In [ ]:
#data encoding basically means that we convert categorical data into numerical data
# nominal encoding ... binary vector for each of the category

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df=pd.DataFrame({'status':['single','married','separated','single','single','married','separated']})
df

      status
0     single
1    married
2  separated
3     single
4     single
5    married
6  separated

In [3]:
encoder=OneHotEncoder()

In [5]:
encoded=encoder.fit_transform(df[['status']]).toarray()
encoded

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [7]:
encoder.get_feature_names_out()

array(['status_married', 'status_separated', 'status_single'],
      dtype=object)

In [9]:
#to create a matrix structure for the dummy variables
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())
encoder_df

   status_married  status_separated  status_single
0             0.0               0.0            1.0
1             1.0               0.0            0.0
2             0.0               1.0            0.0
3             0.0               0.0            1.0
4             0.0               0.0            1.0
5             1.0               0.0            0.0
6             0.0               1.0            0.0

In [10]:
pd.concat([df,encoder_df],axis=1)

      status  status_married  status_separated  status_single
0     single             0.0               0.0            1.0
1    married             1.0               0.0            0.0
2  separated             0.0               1.0            0.0
3     single             0.0               0.0            1.0
4     single             0.0               0.0            1.0
5    married             1.0               0.0            0.0
6  separated             0.0               1.0            0.0

In [11]:
import seaborn as sns

In [14]:
tips=sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

hw try out replacing dinner / sun for the above data set

In [16]:
#label encoding .. asigns unique value to each category
from sklearn.preprocessing import LabelEncoder

In [17]:
label_encoder=LabelEncoder()

In [18]:
label_encoder.fit_transform(df[['status']])

C:\Users\Bindhu_alia\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 2, 2, 0, 1])

In [19]:
label_encoder.transform([['separated']])

C:\Users\Bindhu_alia\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([1])

In [20]:
#ordinal encoding .. asings unique values to each category based on a particular order or priority
from sklearn.preprocessing import OrdinalEncoder

In [22]:
df=pd.DataFrame({'qualification':['HS','inter','Bachelors','masters','phd','HS']})
df

  qualification
0            HS
1         inter
2     Bachelors
3       masters
4           phd
5            HS

In [24]:
encoder=OrdinalEncoder(categories=[['HS','inter','Bachelors','masters','phd']])

In [26]:
encoder.fit_transform(df[['qualification']])

array([[0.],
       [1.],
       [2.],
       [3.],
       [4.],
       [0.]])