In [1]:
import numpy as np

In [2]:
# to get an array that's filled with zeros with given shape
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [3]:
#if we wanna get zeros in int 
np.zeros(5,dtype=int)

array([0, 0, 0, 0, 0])

In [4]:
#to get 2d array with zeros
np.zeros((3,5),dtype=int)

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

In [9]:
#similarly we can get ones too
arr=np.ones((3,4),dtype=int)
arr

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [11]:
arr+5 #can perform any arthematic operations here

array([[6, 6, 6, 6],
       [6, 6, 6, 6],
       [6, 6, 6, 6]])

In [13]:
#to create an indentity matrix
np.eye(3,dtype=int)

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [18]:
np.empty((2,4))#it gives random values

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [19]:
import random

In [21]:
random.choice((1,2,3,4,5))

1

In [22]:
random.choice('kaist')

'a'

In [24]:
random.randrange(1,10)# generates a random value in the given range

6

In [25]:
random.random() #generates any random number between one and zero

0.14379942759941422

In [27]:
l=[1,2,3,4,5]
random.shuffle(l)
l

[3, 2, 4, 5, 1]

In [30]:
#random numbers related concept in numpy
np.random.random_sample((5,)) # to get one dimensinal array of 5 random values

array([0.0939521 , 0.26010271, 0.58234762, 0.33934069, 0.88908591])

In [32]:
np.random.rand(1)#To get a random array of one element

array([0.87133943])

In [33]:
np.random.rand(2,3)

array([[0.92737711, 0.22039656, 0.73208915],
       [0.27163926, 0.85292285, 0.3116224 ]])

In [34]:
np.random.randn() # it return value from a standard distribution

-1.2537152073643278

In [38]:
a=np.random.randint(1,5,(3,4)) # generates an array of size 3,4 with the elements between 1 and 5
a

array([[4, 2, 4, 2],
       [1, 2, 2, 3],
       [4, 1, 2, 2]], dtype=int32)

In [41]:
#to reshape an array
a.reshape(6,2)

array([[4, 2],
       [4, 2],
       [1, 2],
       [2, 3],
       [4, 1],
       [2, 2]], dtype=int32)

In [44]:
#in reshaping just giving no of rows also works
a.reshape(4,-1)#4 is the no of rows i desire

array([[4, 2, 4],
       [2, 1, 2],
       [2, 3, 4],
       [1, 2, 2]], dtype=int32)

In [45]:
#similar with cols as well
a.reshape(-1,3) #we desire 3 cols and we can pass any negative value in place of -1 and it works the same

array([[4, 2, 4],
       [2, 1, 2],
       [2, 3, 4],
       [1, 2, 2]], dtype=int32)

In [48]:
#after reshaping if we wanna see the original array then we can use base function
a.reshape(1,12).base

array([[4, 2, 4, 2],
       [1, 2, 2, 3],
       [4, 1, 2, 2]], dtype=int32)

In [49]:
a

array([[4, 2, 4, 2],
       [1, 2, 2, 3],
       [4, 1, 2, 2]], dtype=int32)

In [50]:
#accessing the array elements 
a[0]#first row

array([4, 2, 4, 2], dtype=int32)

In [51]:
#accessing first to third row
a[0:3]#here three is exclusive it goes up to row 0,1,2

array([[4, 2, 4, 2],
       [1, 2, 2, 3],
       [4, 1, 2, 2]], dtype=int32)

In [53]:
#if we want particular columns of a some rows
a[0:2,[1,2]]

array([[2, 4],
       [2, 2]], dtype=int32)

In [55]:
#slicing the array
a[0:3,1:3] #basically rows are 0,1,2 and col are 1,2 
#same syntax if we want only columns

array([[2, 4],
       [2, 2],
       [1, 2]], dtype=int32)

In [56]:
#mathematical operations on arrays
arr1=np.random.randint(1,4,(3,3))#generates a 3x3 array with the values between one and four
arr2=np.random.randint(1,5,(3,3))
arr1

array([[3, 2, 1],
       [1, 2, 1],
       [1, 3, 3]], dtype=int32)

In [57]:
arr2

array([[3, 4, 1],
       [1, 1, 4],
       [3, 4, 4]], dtype=int32)

In [58]:
#addition of 2 arrays 
arr1 + arr2

array([[6, 6, 2],
       [2, 3, 5],
       [4, 7, 7]], dtype=int32)

In [61]:
#multiplication of 2 arrays >> its different from matrix multiplication
arr1 * arr2

array([[ 9,  8,  1],
       [ 1,  2,  4],
       [ 3, 12, 12]], dtype=int32)

In [62]:
#div of 2 arrays
arr1/arr2

array([[1.        , 0.5       , 1.        ],
       [1.        , 2.        , 0.25      ],
       [0.33333333, 0.75      , 0.75      ]])

In [63]:
#matrix multiplication of two arrays
arr1 @ arr2

array([[14, 18, 15],
       [ 8, 10, 13],
       [15, 19, 25]], dtype=int32)

In [64]:
#alternate way to matrix multiplication
np.dot(arr1,arr2)

array([[14, 18, 15],
       [ 8, 10, 13],
       [15, 19, 25]], dtype=int32)

In [65]:
#transpose
arr1.T

array([[3, 1, 1],
       [2, 2, 3],
       [1, 1, 3]], dtype=int32)